* {
  background-color: #CCCCCC;
}

h1 {
  display: block;
  margin-left: 40px;
  font-family: Courier, sans-serif;
  color: #666666;
}

#mainText {
  margin-left: 80px;
  margin-right: 40px;
  width: 900px;
  background-color: #F5F5F5;
  font-family: sans-serif;
  padding: 5px;
}

.imageBox{
  margin-left: 40px;
  width: 600px;
  background-color: #F5F5F5;
}

.bcolor{
  background-color: #F5F5F5;
}

h4{
  margin-left: 15px;
  margin-bottom: 0px;
}

h6{
  margin: 5px 0px 20px 25px;
}

.blogPara{
  margin: 10px 10px 10px 15px;
  background-color: #F5F5F5;
}

.imgLabel {
  font-size: 10px;
  margin: 7px 10px 10px 10px;
  background-color: #F5F5F5;
}

