body {
  background-color: #CCCBBB;
  font-family: Tahoma, Geneva, sans-serif;
  color: #323232;
}

#wrapper {
  max-width: 940px;
  margin: 0px auto;
  border-radius: 4px;
  overflow: hidden;
}

nav {
  background-color: #00ABFF;
  display: block;
  text-align: center;
  /*overflow: hidden;*/
  border-bottom: 2px grey solid;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  display: block;
  font-size: 35px;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  color: #4A4A47;
}

#currentPage {
  color: #D5EDFF;
}

nav ul li a:hover {
  color: Black;
  /*
  Messing around with the hover to make it look like it's 3-D but it pushes the header down a bit

  border-left: 1px solid #FF1932;
  border-top: 1px solid #FF1932;
  border-right: 4px solid #FF1932;
  border-bottom: 4px solid #FF1932;*/
}

main {
  background-color: #FFFFF4;
}

#intro {
  position: relative;
  bottom: 370px;
  margin-left: 50px;
  display: inline-block;
  width: 300px;
  text-align: left;
  margin-right: 20px;
}

#introAbout {
  position: relative;
  bottom: 270px;
  margin-left: 50px;
  display: inline-block;
  width: 300px;
  text-align: left;
  margin-right: 20px;
}

#mainPicDiv {
  display: inline-block;
  margin: 100px 20px 50px 20px;
  top: 100px;
}

#mainPicDiv h6 {
  margin-top: 10px;
}

#mainPicDiv img {
  height: 450px;
  border-radius: 4px;
}

.bold {
  font-weight: bold;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.articleTeaser {
  width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border: grey 2px solid;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.blogArticle {
  width: 850px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.blogArticleImage {
  border: grey 2px solid;
  border-radius: 3px;
  padding: 15px 30px 15px 30px;
  margin-left: 50px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.blogArticleImage > img {
  max-width: 600px;
}

#constructionDiv {
  text-align: center;
  padding-top: 300px;
  padding-bottom: 300px;
  font-size: 20px;
}

#socialBar {
  background-color: #FFFFF4;
  text-align: center;
  border-bottom: 2px grey solid;
  display: block;
  overflow: hidden;
}

#socialBar h2 {
  padding-bottom: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#socialBar ul {
  margin: 0px;
  padding: 0px;
}

#socialBar ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0px 60px;
}

footer{
  padding: 10px 0px 5px 20px;
  background-color: #00ABFF;
  display: block;
}